<div class="row justify-content-center">
  <div class="col-md-12 mb-2">
    <h1 class="text-center mt-3">
      Contador para Incrementar y Decrementar el valor de una Variable con
      Python 🐍 😃 👍
      <hr />
    </h1>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <button id="increment-button" class="btn btn-info">Incrementar</button>
    <button id="decrement-button" class="btn btn-warning">Decrementar</button>
    <hr />
    <p>
      Valor actual:
      <strong id="current-value"> {{ current_value }} </strong>
    </p>
  </div>
  <button type="button" id="reset-button" class="btn btn-warning">
    Resetear
  </button>
</div>
